*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    width: 100%;
    height: 100vh;
    padding: 3vh 0;
    margin: 0 auto;
    line-height: 1;
    font-family: Lato,
        sans-serif;
    font-weight: 100;
    display: flex;
    flex-flow: row wrap;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    margin: 0 auto;
}



.temp {
    font-size: 4rem;
}

h5,
h6 {
    text-transform: uppercase;
    font-weight: 100;
}

.item {
    padding: 4vh 2vw;
    margin: 3vh 2vw;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 25%;
    display: grid;
}

.temp span {
    font-size: 35px;
    vertical-align: top;
    margin-left: 5px;
}


.col1 {
    background: #90a6c8;
}

.col2 {
    background: #f6d98c;
}

.col3 {
    background: #9ebea5;
}

form {
    list-style: none;
    padding: 0;
    align-self: flex-start;
    padding: 0 1vw;
    min-height: 250px;
}

.weather-box {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 4px 16px 3px -7px rgba(255, 255, 255, 0.72);
    box-shadow: 4px 16px 3px -7px rgba(255, 255, 255, 0.72);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.weather-box p {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}


.mid-info {
    text-align: center;
    padding: 5vh 0;
}

.bottom-info {
    text-align: right;
    align-self: flex-end
}

@media only screen and (max-width: 769px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2vh 5vw;
    }

    .item {
        width: 100%;
        align-self: center;
    }

    form {
        min-height: auto;
        padding-bottom: 4vh;
    }
}